<!-- <div class="movies-container"> -->
  <mat-card *ngFor="let movie of movies" class="movie-card" (click)="openMovieDetails(movie.id)" style="width: auto;">
    <mat-card-header>
      <mat-card-title class="movie-title">{{ movie.name }}</mat-card-title>
      <!-- <mat-card-title-group> -->
      <!-- </mat-card-title-group> -->
      <div mat-card-avatar>
        <mat-icon class="watched-icon" (click)="toggleWatchedMovie(movie)" [ngClass]="{ 'watched': movie.watched, 'unwatched': !movie.watched }">
          {{ movie.watched ? 'done' : 'visibility_off' }}
        </mat-icon>
      </div>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content style="display: flex; align-items: center;">
      <img style="width: 300px; margin-right: 20px;" src={{movie.backgroundImage}}>
      <p>{{ movie.synopsis }}</p>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between;">
      <mat-icon class="liked-icon clickable-icon" (click)="toggleLikedMovie(movie)" [ngClass]="{ 'liked': movie.liked, 'unliked': !movie.liked }">
        {{ movie.liked ? 'thumb_up' : 'thumb_down' }}
      </mat-icon>
      <button mat-icon-button color="warn" (click)="deleteMovie(movie)">
        <mat-icon>delete</mat-icon>
      </button>
      </mat-card-actions>
  </mat-card>
<!-- </div> -->
